@media(min-width:1261px){
    .header ul{
        display: block !important;
    }
}

@media(max-width: 1260px){
    .btn__menu{
        display: none;
    }
    .btn__menu.btn--mobile{
        display: block;
    }
    .header ul{
        display: none;
        transition: none;
        position: absolute;
        top: 60px;
        width: 100px;
        right: 0;
        text-align:right;
        background-color: rgba(21,22,24,0.95);
        border: 1px solid rgba(255, 255, 255, .5);
        transform: translate3d(0, 0, 0);
        li{
            transition: all .3s;
            display: block;
            &:last-child{
                display: none;
            }
            &.btn--mobile{
                text-align: center;
            }
            & + li{
               transition: all .3s;
                margin-left: 0;
                padding-top: 15px; 
            }
        }
    }
    .btn__menu.active{
        display: none;
    }
    
}

@media(max-width:1000px){
    .posts__inner{
        flex-wrap: wrap;
    }
    .posts .post{
        flex-basis: calc(100% - 30px);
        margin-left: 0;
    }
    .posts__item .item-text {
        width: auto;
    }
    .posts__item.item {
        flex-basis: 100%;
    }
}

@media(max-width:850px){
    .programs__item{
        flex-basis: calc(50% - 15px);
    }
    .coaches__item{
        flex-basis: calc(100% - 30px);
    }
    .item-img {
        margin-right: 10px;
    }
    .testimonials__box-imgbox{
        transform: translate(-5%, -25%);
        img{
            width: 380px;
           
        }
    }
    .instagram__item {
        flex-basis: calc(50%);
    }
    .footer__inner{
        flex-wrap: wrap;
    }
    .hugma__col{
        max-width: 100%;
    }
}

@media(max-width:700px){
    .header__container{
        padding: 0 20px;
    }
    .header__title span {
        font-size: 70px;
    }
    .header__title{
        font-size: 35px;
    }
    .header__text {
        font-size: 15px;
    }

    .posts__item .item-img {
        margin-right: 5px;
    }
}
@media(max-width:500px){
    .testimonials__box-imgbox{
        transform: translate(0%, 13%);
        img{
            width: 250px;
        }
    }
}

@media(max-width:450px){
    .programs__inner{
        align-items: center;
        text-align: center;
    }
    .programs__item{
        margin: 0 auto;
        margin-bottom: 60px;
        flex-basis: calc(80% - 15px);
    }
}
