@import '_global.scss';
@import '_vars.scss';
@import '_fonts.scss';

//start header

.header{
    min-height: 1000px;
    position: relative;
    &__images{
        z-index: -1;
        position: absolute;
        width: 100%;
    }
    &__item{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 1000px;
    }
  
    &::after{
        content: '';
        position: absolute;
        top: 120px;
        width: 100%;
        height: 1px;
        background-color: rgba($color: #fff, $alpha: .102)
    }
    .logo{
        font-family: 'HamurzFreeVersion',sans-serif;
        font-size: 36px;
        span{
            transition: all .3s;
            font-size: 0;
            &.active{
               font-size: 36px;
            }
        }
    }
    &__menu-inner{
        transition: all .3s;
        &.active{
            background-color: rgba($color:#151618, $alpha: .95)
        }
    }
    &__menu{
        height: 120px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    nav{
        position: relative;
    }
    ul{
        transition: all .5s;
        transform: translate3d(2000px, 0, 0);
        &.active{
            transform: translate3d(0, 0, 0);
        }
    }
    li{
        display: inline-block;
        & + li{
            margin-left: 40px;
        }
        a{
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;
        }
    }
    &__inner{
        margin-top: 340px;
    }
    &__title{
        span{
            display: block;
            font-family: 'HamurzFreeVersion',sans-serif;
            text-transform: uppercase;
            font-size: 100px;
            margin-bottom: 30px;
        }
        @include f700;
        font-size: 48px;
        margin-bottom: 15px;
    }
    &__text{
        font-size: 18px;
        @include osi;
        color: #efefef;
        max-width: 770px;
        line-height: 48px;
        margin-bottom: 60px;
    }
    &__btn{
        a{
            transition: all .3s;
            text-transform: uppercase;
            display: inline-block;
            font-size: 12px;
            @include f700;
            border: 1px solid #fff;
            padding: 15px;
            color: #fff;
            width: 98px;
            position: relative;
            &:hover{
                background-color: rgba(255, 255, 255,.8);
                color: #000;
                &::before{
                    color: #000;
                }
            }
            &::before{
                transition: all .3s;
                content: "\ea3c";
                font-family: 'icomoon';
                font-size: 12px;
                color: #fff;
                position: absolute;
                right: 35px;
            }
        }
    }
}

.btn__menu{
    position: absolute;
    right: 0;
    cursor: pointer;
    div{
        width: 20px;
        margin-bottom: 3px;
        height: 2px;
        background-color: #fff;
    }
    &.active{
        div{
            background-color: rgba($color: #fff, $alpha: .1);
        }
    }
}

.close-menu{
    cursor: pointer;
}

//end header

//start programs
.title{
    text-align: center;
    font-size: 30px;
    @include f700;
    color: #000;
    text-transform: uppercase;
}

.programs{
    margin-top: 115px;
    margin-bottom: 115px;
    &__title{
        margin-bottom: 120px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-height: 594.4px;
        background-color: #ff1b22;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-img{
            transition: all .5s;
            width: 270px;
            height: 500px;
            margin-bottom: 30px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        &-title{
            text-transform: uppercase;
            font-size: 14px;
            @include f700;
            margin-bottom: 30px;
        }
        &-btn{
            a{
                transition: all .5s;
                height: 0;
                font-size: 12px;
                overflow: hidden;
                text-transform: uppercase; 
                color: #fff;
                @include f700;
                border: 0px solid #fff;
                padding: 0px 20px;
                width: 70px;
                display: inline-block;
                position: relative;
                &::before{
                    transition: all .3s;
                    content: "\ea3c";
                    font-family: 'icomoon';
                    font-size: 12px;
                    color: #fff;
                    position: absolute;
                    right: 10px;
                } 
                &:hover{
                    background-color: #fff;
                    color: #ff1b22;
                    &::before{
                        color: #ff1b22;
                    }
                }
            }  
        }
        &:hover{
            .programs__item-img{
                height: 375px;
               
            }
            .programs__item-btn{
                a{
                    padding: 15px 20px;
                    height: auto;
                    border-width: 1px;  
                }
                
            }
        }
    }
}

//end programs

//start coaches

.coaches{
    padding-top: 120px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1040px;
    &__title{
        color: #fff;
        margin-bottom: 115px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.item{
    transition: all .3s;
    padding: 10px;
    width: 570px;
    background-color: #fff;
    display: flex;
    margin-bottom: 30px;
    &-img{
        max-width: 180px;
        width: 100%;
        height: 180px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-right: 20px;
    }
    &-info{
        padding: 15px 15px 15px 0px;
    }
    &-name{
        display: inline-block;
        transition: all .3s;
        text-transform: uppercase;
        font-size: 14px;
        @include f700;
        color: #000000;
        margin-bottom: 15px;
    }
    &-type{
        transition: all .3s;
        text-transform: uppercase;
        font-size: 12px;
        color: #cb1174;
        margin-bottom: 15px;
    }
    &-text{
        transition: all .3s;
        color: #000;
        font-size: 13px;
        @include os;
        margin-bottom: 20px;
    }
    &-social{
        a{
            transition: all .3s;
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 1px solid #cdcdcd;
            border-radius: 50%;
            text-align: center;
            &::before{
                top: 0;
                color: #000;
                line-height: 30px;
            }
            & + a{
                margin-left: 10px;
            }
            &:hover{
                background-color: #fff;
            }
        }
    }
    &:hover{
        background-color: $blue;
        .item-social{
            a{
                &:before{
                    color: #00aeff;
                }  
            }
        }
        .item-name{
            color: #fff;
        }
        .item-type{
            color: #4f4c86;
        }
        .item-text{
            color: #fff;
        }
    }
    
}

//end coaches

//start video

.video{
    height: 840px;
    display: flex;
    align-items: center;
    iframe{
        margin: 0 auto;
    }
}

//end video

//start posts

.posts{
    padding-top: 115px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1180px;
    &__title{
        color: #fff;
        margin-bottom: 115px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        padding: 0;
        margin-bottom: 30px;
        .item-img{
            width: 100%;
            max-width: 200px;
            height: 300px;
            margin-right: 20px;
        }
        .item-type{
            margin-bottom: 50px;
        }
        .item-text{
            line-height: 24px;
            width: 300px;
        }
        &:hover{
            background-color: #fff;
            .item-social{
                a{
                    &:before{
                        color: #000;
                    }  
                }
            }
            .item-name{
                color: #000;
            }
            .item-type{
                color: #cb1174;
            }
            .item-text{
                color: #000;
            }
        }
        .item-social{
            a{
                &:hover{
                    background-color: #00aeff;
                    &::before{
                       color: #fff !important; 
                    }
                    
                }
            }
        }
    }
    &-aside__item{
        height: 630px;
        flex-direction: column;
        .item-img{
            max-width: 100%;
            margin-right: 0;
            margin-top: 10px;
        }
        .item-info{
            margin-top: 45px;
            padding: 0 30px 30px 30px;
        }
        .item-type{
            margin-bottom: 30px;
        }
        .item-text{
            width: 100%;
        }
    }
}

//end posts

//start testimonials

.testimonials{
    height: 1200px;
    margin-top: 115px;
    &__title{
        margin-bottom: 115px;
    }
    &__box{
        margin-top: 620px;
        background-color: $blue;
        width: 100%;
        height: 285px;
        color: #fff;
        padding: 20px;
        position: relative;
        &-imgbox{
            z-index: -1;
            position: absolute;
            top: -100%;
            right: 0;
            transform: translate(-50%,-40%);

        }
        &-name{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%);
            color: #000;
            font-size: 18px;
            span{
                font-size: 12px;
                margin-top: 10px;
                display: block;
                color: #777777;
            }
        }
        &-title{
            @include f700;
            margin-bottom: 20px;
            font-size: 18px;
        }
        &-date{
            font-size: 12px;
            margin-bottom: 40px;
        }
        &-text{
            @include osi;
            font-size: 14px;
            margin-bottom: 60px;
        }
        &-btns{
            display: flex;
            a{
                transition: all .3s;
                color: #fff;
                border: 1px solid #fff;
                padding: 20px 25px;
                font-size: 14px;
                &:hover{
                    background-color: #fff;
                    color: $blue;
                }
            }
        }
        &-left{
            margin-right: 10px;
        }
    }
}

//end testimonials


@import '_media.scss';